/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* end myers reset  */


/* GLOBAL styling will live inside this file.*/
/* (i.e. styling rules here will apply to <body> tag, and be inherited everywhere.)*/
/* (ex. of global rules: font sizes, colors, shadows, general <button>, screen size break points) */

/* LOCAL styling will require separate stylesheets scoped to your component(s).*/
/* (here's a medium post on local styling and React: https://medium.com/@seanmcp/how-and-when-to-use-bem-in-react-edabad2b805a */


/* BREAK POINTS */
@media screen and (min-width: 375px) {}
/* IPHONE/MOBILE */

@media screen and (min-width: 460px) {
    /* SMALL TABLET */
}

@media screen and (min-width: 960px) {
    /* LARGE TABLETS AND SMALL LAPTOPS */
}

@media screen and (min-width: 1200px) {
    /* DESKTOP STYLES */
}

/* //Max worked  */

body{
    /* background-color: aliceblue; */
}

h3{
  font-size: 1.5rem;
}

hr{
  border: solid 3px darkgray;

}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    text-align: center
    
    
  }

  .nbar{
    display: flex;
    justify-content: space-around;

  }
  .bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .central{
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    align-items: center;

  }

  .enter{
      background-color: darkgray;
      color: aliceblue;
      border-radius: 30%;
      font-size: 2.5rem;
      padding: 1rem;



  }

  .separator{
      margin-right: 2rem;
  }

  .menu{
    border: solid 3px darkgray;
    width: 30vw;
    margin-bottom: 20rem;
    


  }

  .title{
    border-bottom: 2px solid darkgray;
    font-size: 1.5rem;
  }

  .topblock{
    display: flex;
    background-color: antiquewhite;

  }
.trucknum{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin: 1rem;
}

.menutitle{
  font-size: 2rem;
  width: 10rem;
 
  
}
.foodblock{
  display: flex;
  align-content: center;
  justify-content: space-between;


}
.secondblock{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: antiquewhite;
  border: solid 1px darkgray;
}

.leftblock{
border-left: solid 1px darkgray;

}
  





